.button {
  display: flex;
  padding: 20px;
  font-size: 1.125rem;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  justify-content: center;
  background-color: var(--accent);
}

@media (hover:hover) {
  .button:hover {
    background-color: #0f1b24;
  }
}

.button:active {
  scale: var(--scale);
}